[submodule "sources/wsic"]
	path = sources/wsic
	url = https://github.com/AlexGustafsson/wsic
[submodule "sources/aaron-kalair"]
	path = sources/aaron-kalair
	url = https://github.com/AaronKalair/C-Web-Server.git
[submodule "sources/soywood"]
	path = sources/soywood
	url = https://github.com/soywod/c-server.git
[submodule "sources/wasmerio"]
	path = sources/wasmerio
	url = https://github.com/wasmerio/c-http-server.git
[submodule "sources/AFL"]
	path = sources/AFL
	url = https://github.com/google/AFL.git
[submodule "sources/preeny"]
	path = sources/preeny
	# Original version:
	# url = https://github.com/zardus/preeny.git
	# Patched version:
	url = https://github.com/acidghost/preeny
